.body2{
    width: 100%;
    height: 100vh;
    margin-top: 5rem;
    margin-left: 13%;
    padding-top: 8rem;
    .body2title{
        font-size: 2rem;
        font-family: -apple-system, system-ui;
    }

}