.nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid black;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    .img{
        padding-left: 15rem;
    }
    .links{
        width: 25rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid red;
        font-weight: 14.4px;
        font-family: 'Segoe UI';
        cursor: pointer;
        opacity: 0.5;
        .s1:hover{
            opacity: 1;
            font-weight: bold;
        }
        .s2:hover{
            opacity: 1;
            font-weight: bold;
        }
        .s3:hover{
            opacity: 1;
            font-weight: bold;
        }
        .input{
            opacity: 1;
            width: 10rem;
            height: 1.2rem;
            border-radius: 1rem;
        }
    }
}


